node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
coverage/**/**
.env
# Coverage directory used by tools like istanbul
coverage
# nyc test coverage
.nyc_output

# macOS
.DS_Store
